# <center> <h1><b>Tokyo 2020

In [10]:
from IPython.core.display import Image, display
display(Image(url='https://olympics.com/images/static/navigation-satellite/navigation-menu-logo.svg', width=890, unconfined=True))

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import plotly.offline as pyo
import plotly.graph_objs as go

In [23]:
olp = pd.read_csv('Olympic-2020.csv')

,Rank,Team,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39.0,41.0,33.0,113.0,1.0
1,2,People's Republic of China,38.0,32.0,18.0,88.0,2.0
2,3,Japan,27.0,14.0,17.0,58.0,5.0
3,4,Great Britain,22.0,21.0,22.0,65.0,4.0
4,5,ROC,20.0,28.0,23.0,71.0,3.0
...,...,...,...,...,...,...,...
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:

trace1 = go.Bar(
    x=df['Team'],  # NOC stands for National Olympic Committee
    y=df['Gold'],
    name = 'Gold',
    marker=dict(color='#FFD700') # set the marker color to gold
)
trace2 = go.Bar(
    x=df['Team'],
    y=df['Silver'],
    name='Silver',
    marker=dict(color='#9EA0A1') # set the marker color to silver
)
trace3 = go.Bar(
    x=df['Team'],
    y=df['Bronze'],
    name='Bronze',
    marker=dict(color='#CD7F32') # set the marker color to bronze
)
data = [trace1, trace2, trace3]
layout = go.Layout(
    title='2020 Tokyo Olympic Medals by Country',
    barmode='stack'
)
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='bar3.html')

NameError: name 'df' is not defined